/* Container chứa biểu đồ */
#groupbar_chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Chiều cao toàn bộ màn hình */
    margin: 0; /* Đảm bảo không có khoảng trống */
}

/* Biểu đồ (SVG) */
#groupbar_chart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Chiều cao toàn bộ màn hình */
    margin: 0; /* Đảm bảo không có khoảng trống */
}

/* Biểu đồ (SVG) */
#chart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#heatmap-container {
    width: 100%;
    height: auto;
}

svg {
    width: 100%;
    height: auto;
}


h1
{
    margin-top: 10vh;
    display: flex;
    justify-content: center; /* căn giữa ngang */
    font-size:5vh
}

.responsive-svg {
    width: 100%;
    height: auto;
}

.Task3
{
    position:absolute;
    top:80vh;
    right:20vw;
}

.Task1
{
    position:absolute;
    top:80vh;
    left:20vw;
}


#heatmap-container {
    width: 100%;
    height: auto;
}

#heatmap-svg {
    width: 100%;
    height: auto;
}

