body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#chart svg {
    display: block;
    margin: 0 auto;
}

.quit-btn {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

#chart {
    margin-top: 160px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

svg {
    margin-top: 160px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
  }
  