
    body {
      font-family: sans-serif;
      background-color: #f9f9f9;
      align-items: center;
    }
    svg {
        display: block;
        margin: 0 auto;
    }

    h1 {
        color: #333;
        text-align: center;
    }
    #chart {
      margin: 40px;
    }
    
    .bar {
      stroke: #fff;
    }
    .tooltip {
      position: absolute;
      background-color: #fff;
      padding: 6px 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      pointer-events: none;
      opacity: 0;
      font-size: 20px;
      
    }
    .axis-label {
      font-size: 26px;
      font-weight: bold;
    }
    .axit text {
        font-size: 16px;
        font-weight: bold;
        fill: #333;
    }